@select-prefix-cls: ~"@{css-prefix}select";
@select-prefix-cls-wrapper: ~"@{select-prefix-cls}-wrapper";

.@{select-prefix-cls}{
  position: relative;
  z-index: 10;
  &-drop{
    width: inherit;
    max-height: 200px;
    position: absolute;
    box-shadow: 0 1px 6px tint(@border-color-base,10);
    overflow: auto;
    padding: 5px 0;
    margin: 5px 0;
    z-index: 13;
  }
  &-check{
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -10.5px;
    font-size: 14px;
  }

  &-choice{
    background: #f3f3f3;
    color: @primary-color;
  }
  &-avi-dropIn{
    animation: aviMoveLeftIn @animation-time @ease-in-out;
  }
  &-avi-dropOut{
    animation: aviMoveLeftOut @transition-time @ease-in-out;
  }
  &-icon{
    transform: rotate(180deg);
    transition: all @animation-time @ease-in-out;
  }
  &-clearable{
    //display: none;
  }
  &-option{
    display: block;
    position: relative;
    overflow: auto;
    width: 100%;
    height: auto;
    padding: 6px 20px;
    white-space: nowrap;
    &-title{
      padding: 6px 12px;
      font-size: 12px;
      color: @info-color;
      cursor: default;
    }
    &:hover{
      background: #f3f3f3;
    }
    &-hover{
      background: #f3f3f3;
    }
    &-disabled{
      cursor: not-allowed;
      background: white;
      color: tint(@info-color,40);
      &:hover{
        background: white;
      }
    }
  }

  &-ul{
    cursor: pointer;
    list-style: none;
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
    background: white;
  }
  &-noData{
    text-align: center;
    cursor: default;
    font-size: 14px;
  }
}
.@{select-prefix-cls-wrapper}{
  position: relative;
  display: inline-block;
  min-width: 150px;
  //margin-right: 10px;
  width: 100%;
  .@{input-prefix-cls}{
    cursor: pointer;
  }
  .avi{
    transition: all @transition-time @ease-in-out;
  }
}

@keyframes aviMoveLeftOut {
  0% {
    transform-origin: 0 0;
    max-height: 200px;
    opacity: 1;
  }
  100% {
    transform-origin: 0 0;
    max-height: 0;
    opacity: 0;
  }
}
@keyframes aviMoveLeftIn {
  0% {
    transform-origin: 0 0;
    max-height: 0;
    opacity: 0;
  }
  100% {
    transform-origin: 0 0;
    max-height: 200px;
    opacity: 1;
  }
}
